 
 /*-- colors --*/

 $accent: #3d2514;  
 $white: #fff; 
 $red: #bf2222;      
 $btn-bg-color: #bf2222;
 $black: #3d3d3d;
  
  
  /*-- fonts --*/ 
  
  %bebas-400{  
    font-family: 'Bebas Neue', cursive; 
    font-weight: 400;
  }     

   
  %bebas-700{ 
    font-family: 'Bebas Neue', cursive; 
    font-weight: 700;
  } 
    

 %montserrat-400{ 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
 } 
  
 %montserrat-700{ 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
 } 

 %alfaSlabOne{ 
    font-family: 'Alfa Slab One', cursive;  
    font-weight: 400;
 }